.textAboutMe {
  width: 60%;
  float: center;
}

.imageAboutMe {
  height: 200px;
  margin-left: 30px;
  margin-right: 30px;  
}

.aboutMeText {
  margin-left: 30px;
}

.cardTitle {
  margin-left: 50px;
  font-size: 30px;
}

.smallMsg {
  margin-left: 30px;

}