/* css for Header, Nav, Footer, and App.js */

.App {
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

li {
  margin: 15px;
}

.Header {
  background-image: url("../../images/joel-filipe-VuwAfoHpxgs-unsplash.jpg");
  height: 200px;
}

.nameHeader {
  float: left;
  padding-left: 20px;
}

.Nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.Footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 10px;
}