/* css for Header, Nav, Footer, and App.js */

.App {
  /* text-align: center; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin: 15px;
} 


.nameHeader {
  float: left;
  padding-left: 20px;
  color: rgb(219, 213, 213);
  margin-top: 20px;
  margin-right: 10px;
}

.Navigation {
  float: right;
}

.Navigation a {
  text-decoration: none;
  font-weight: 500;
}

.Footer a{
  color: black;
  /* justify-content: center; */
  font-size: 15px;
  text-decoration: none;
}

.Footer{
  /* display: flex; */
  justify-content: center;
  margin-top: auto;
}