/* css for Header, Nav, Footer, and App.js */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
  background-color: #e7eaea;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin: 15px;
  margin-top: 25px;
}

.nameHeader {
  font-family: 'Dancing Script', cursive;
  padding-left: 20px;
  color: rgb(109, 109, 167);
  margin-top: 20px;
}

.Navigation {
  float: right;
}

.Navigation li {
  position: relative;
}

.Navigation a {
  text-decoration: none;
  font-weight: 500;
}

.Footer a {
  color: black;
  font-size: 15px;
  text-decoration: none;
}

.Footer {
  justify-content: center;
  margin-top: auto;
}

@media (max-width: 575px) {
  .navbar-collapse {
    width: 100%;
  }
  .Navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (max-width: 575px) {
  .navbar-collapse {
    justify-content: flex-end;
  }
  .Navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
